@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Bruno Ace", cursive;
}

.headingFont {
  font-weight: 900;
  --tw-text-opacity: 1;
  color: rgb(54 255 229 / var(--tw-text-opacity));
}
